.sss {

   height: 800px;
   width: 800px;
   border: 5;
}
.aaa {
    height: 100px;
    width: 100px;
    background-color: white;
}
.bbb {
    height: 100px;
    width: 100px;
    background-color: black;
}