.do {
    color: white;
    background-color: red;
}
.cam {
    color: white;
    background-color: orange;
}
.xanh {
    color: white;
    background-color: blue;
}
.aaa {
    color: red;
}
.bbb {
    color: blue;
}
.kkkk {
    color: red;
}
.cccc {
    color: blue;
}